* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #171717;
   
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid white;
    text-align: center;
    overflow: hidden;
}


.current {
  
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 5px;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    margin: 0 10px;
}
  
nav a {
    color: #fff;
    text-decoration: none;
}

.nav-menu {
    display:flex;
    justify-content: space-between;
    
}

.hamburger {
    display: none;
    margin: 3%;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
  
.middle-links {
    width: 33%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 10px;
    font-family: "articulat-cf", sans-serif;
    font-weight: 700;
    font-style: normal;
   
}
  
.right-links {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0 20px;
    
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        padding: 24px;
        left: -120%;
        top: 8rem;
        flex-direction: column;
        background-color: #171717;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.4s;
        box-shadow:
            0 10px 27px rgba(255, 255, 255, 0.114);
    }

    .middle-links {
        display:flex;
        flex-direction: column;
        align-self: center;
        justify-content: space-between;
        height: 150px;
    }

    .right-links {
        display:flex;
        justify-content: center;
        align-self: center;
    }

  

    .nav-menu.active {
        left: 0;
    }

    .nav-link {
        margin: 2.5rem 0;
        
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    

}
  
.nav-link:hover{
    color: #482ff7;
}

.nav-icon {
    height: 30px;
    width: 30px;
    margin: 10px;
    padding: 0 10px;
    
}

#icon1 {
    background-image: url("assets/github.svg");
    background-size: cover;
}
#icon2 {
    background-image: url("assets/linkedin.png");
    background-size: cover;
}
#icon3 {
    background-image: url("assets/mail.png");
    background-size: cover;
}



.nav-pfp {
    height: 60px;
    width: 60px;
    margin: 20px;
}



.hero-container {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    max-width: 400px;
    height: 250px;
    margin: 16px;
}



.hero-image {
    border-radius: 20px;
    max-width: 500px;
    height: 300px;
    margin: 32px 24px;
}

.hero-title {
    color: white;
    font-size: 100px;
    font-family: Aura, system-ui, sans-serif;
    text-align: end;
    line-height: 0.9;
    letter-spacing: 1px;
    
}

.hero-subtext {
    font-size: 16px;
    color: white;
    padding: 8px 0;
    font-family: "articulat-cf", system-ui, sans-serif;
    font-weight: 900;
    letter-spacing: 12px;
}

.ios-container {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    padding: 60px 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}







  